@charset "UTF-8";


*{
    margin: 0px;
}


@font-face {
    font-family:'time';
    src: url('Arquivos_Pg/Fontes/ds_digital/DS-DIGI.TTF') format('truetype');
}

/*///////////////////////////////////////////////////////////////////////*/
           




















