@charset "UTF-8";


*{
    margin: 0px;
}

 
@font-face {
    font-family:'time';
    src: url('Arquivos_Pg/Fontes/ds_digital/DS-DIGI.TTF') format('truetype');
}

/*///////////////////////////////////////////////////////////////////////*/
                                /*BOX THE TEXT*/
body{
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-image: url(Arquivos_Pg/Imagens/alcer.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header{
    background-color: white;
    width: 300px;
    padding: 7px;
    border-radius: 15px;
    margin: 10px;
    height: 115px;
    border: 2px solid rgba(3, 164, 245, 0.155);
    box-shadow: 0px 0px 5px black ;
}

h2{
    font-family: 'time';
    text-decoration: underline; /*linha de baixo da palavra*/
}

p{
    text-align: justify;
    text-indent: 30px;
}

/*///////////////////////////////////////////////////////////////////////*/




















