@charset "UTF-8";

*{
    margin: 0px;
}

    @font-face {
        font-family:'font1';
        src: url('Fontes/ds_digital/DS-DIGI.TTF') format('truetype');
    }

body{
    padding: 8px;
} 

h1{
    margin-bottom: 30px;
    text-align: center;
}















